.override-radio {
  :global {
    .ant-radio-checked .ant-radio-inner {
      border-color: #2e76bf;
    }
    .ant-radio-inner::after {
      background-color: #2e76bf;
    }
    .ant-radio-checked::after {
      border-color: #2e76bf;
    }
    .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
      border-color: #2e76bf;
    }
    .ant-radio-input:focus + .ant-radio-inner {
      box-shadow: 0 0 0 3px rgba(166, 117, 9, .08);
    }
  }
}