.mt10 {
  margin-top: 10px;
}
.row1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  color: #999;
  img {
    margin-right: 10px;
  }
}
.mr10 {
  margin-right: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.panel-content {
  padding: 10px 30px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  .hl {
    color: #cb3342;
  }
}
.bankMaintenance {
  width: 400px;
  height: 230px;
  background: #EFEFEF;
  position: absolute;
  right: 0;
  top: 15px;
  border-radius: 10px;
  padding: 10px;
}
.bankMaintenanceTitle {
  font-size: 16px;
  color: #B0430E;
  margin-bottom: 10px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #ccc;
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #1e578e;
    &.banking {
      font-size: 24px;
    }
  }
  .tips {
    font-size: 12px;
    color: #999;
    line-height: 1;
  }
  .desc-label {
    color: #333;
  }
  .link-row {
    margin-right: 30px;
    display: flex;
    color: #999;
  }
  .link {
    position: relative;
    margin-left: 45px;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      left: -30px;
      top: 50%;
      width: 24px;
      height: 24px;
      background: url("./image/plus-circle.png");
      transform: translate3d(0, -50%, 0);
    }
  }
  .flex5 {
    flex: 5;
  }
  .flex4 {
    flex: 4;
  }
  .flex3 {
    flex: 3;
  }
  .flex2 {
    flex: 2;
  }
  .flex1 {
    flex: 1;
  }
}
.content {
  position: relative;
  padding: 30px 0 0 10px;
  flex: 1;
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
    &.with-link {
      .form-elm {
        display: block;
      }
    }
    &.multi {
      align-items: normal;
      .label {
        padding-top: 10px;
      }
    }
    &.special {
      align-items: normal;
      .label {
        padding-top: 20px;
        line-height: 40px;
        width: 180px;
      }
    }
    &.mb40 {
      margin-bottom: 40px;
    }
  }
  .sub-title {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
  }
  .label {
    width: 200px;
    flex-shrink: 0;
  }
  .form-elm {
    position: relative;
    display: flex;
    width: 290px;
    flex-shrink: 0;
    .link {
      margin-top: 10px;
      cursor: pointer;
      font-size: 12px;
      color: #1e578e;
      line-height: 1;
      text-decoration: underline;
    }
  }
  .upload-wrap {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
  .upload-tip-wrap {
    margin-right: 10px;
    line-height: 1.3;
  }
  .upload-tip-label {
    font-size: 12px;
    color: #666;
  }
  .upload-tip-val {
    font-size: 12px;
    color: #999;
  }
  .form-tip {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    color: #06325c;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      margin-top: -7px;
      width: 14px;
      height: 15px;
      background: url("./image/info.png");
    }
  }
  .switch-btn {
    position: absolute;
    top: 34px;
    right: -52px;
    width: 32px;
    height: 32px;
    background-image: url("./image/switch-btn.png");
    background-size: 100% 100%;
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      width: 31px;
      height: 10px;
      top: -15px;
      left: -15px;
      background-image: url("./image/switch-line-t.png");
    }
    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 11px;
      bottom: -15px;
      left: -15px;
      background-image: url("./image/switch-line-b.png");
    }
  }
  .bonus-wrap {
    padding: 20px 30px 30px 20px;
    width: 470px;
    border: 1px solid #ddd;
    background-color: #f0f7ff;
    border-radius: 10px;
    .list {
      overflow-y: auto;
      margin-top: 10px;
      max-height: 240px;
      :global {
        .ant-checkbox-group {
          display: block;
        }
      }
    }
    .list-item {
      position: relative;
      padding: 10px 20px 10px 50px;
      margin-bottom: 5px;
      color: #1e578e;
      background-color: #fff;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .list-radio {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
    .num {
      color: #333;
    }
  }
  .unit {
    margin-left: 5px;
  }
  .number-check {
    margin-left: 20px;
  }
  .view-switch {
    position: relative;
    margin-right: 10px;
    padding-left: 52px;
    flex: 1;
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    &.card {
      &::before {
        position: absolute;
        content: "";
        left: 10px;
        top: 10px;
        width: 22px;
        height: 20px;
        background: url("./image/th.png");
      }
    }
    &.list {
      &::before {
        position: absolute;
        content: "";
        left: 10px;
        top: 10px;
        width: 22px;
        height: 19px;
        background: url("./image/list.png");
      }
    }
    &.on {
      border-color: #7ba9d7;
      background-color: #ecf5ff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .cards {
    //width: 590px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    .card-wrap {
      margin: 0 30px 20px 0;
      cursor: pointer;
    }
  }
  .card-item {
    position: relative;
    padding: 60px 0 0 10px;
    font-size: 12px;
    color: #444;
    line-height: 1;
    width: 160px;
    height: 100px;
    background-size: 100% 100%;
    background-color: #ddd;
    border-radius: 10px;
    .selection {
      position: absolute;
      padding-left: 56px;
      bottom: 16px;
      width: 162px;
      height: 30px;
      line-height: 30px;
      border-radius: 6px;
      background-color: #00ab66;
      font-size: 12px;
      color: #fff;
      box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
      &::before {
        position: absolute;
        content: "";
        top: 5px;
        left: 14px;
        width: 20px;
        height: 20px;
        background: url("./image/SelectedIcon.png");
      }
    }
  }
  .card-text {
    color: #999;
    text-align: center;
  }
  .card-details {
    margin: 30px 0 35px;
    padding: 20px 30px 30px;
    width: 556px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f1f8ff;
    .back-row {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      color: #06325c;
    }
    .back-btn {
      margin-right: 10px;
      width: 15px;
      height: 14px;
      background: url("./image/arrow-left.png");
      cursor: pointer;
    }
    .card-content {
      padding-top: 5px;
      display: flex;
    }
    .content-left {
      margin-right: 30px;
      text-align: center;
    }
    .content-right {
      flex: 1;
    }
    .bank-name {
      margin-top: 25px;
      color: #1e578e;
      line-height: 1;
    }
    .bank-desc {
      font-size: 12px;
      color: #aaa;
      line-height: 1;
    }
    .card-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      .lab {
        color: #666;
      }
      .val {
        color: #333;
        font-size: 16px;
      }
    }
    .details-controls {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .card-list {
    margin-bottom: 20px;
    width: 810px;
    .last-column {
      position: relative;
    }
    .btn-copy {
      display: none;
      position: absolute;
      top: 5px;
      right: -140px;
      &.show {
        display: block;
      }
    }
  }
  .btn-contempt {
    width: 130px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    background-color: #eaeaea;
    cursor: pointer;
  }
  .btn-copy {
    position: relative;
    margin-left: 10px;
    padding-left: 40px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    background-color: #2e76bf;
    border-radius: 6px;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 14px;
      width: 14px;
      height: 15px;
      background: url("./image/copy.png");
    }
  }
  .btn-back {
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #999;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #eaeaea;
  }
  .btn-primary {
    padding: 0 25px;
    flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #800000;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
}
.content-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1;
  color: #333;
}
.content-text {
  margin-bottom: 18px;
  color: #333;
  line-height: 1;
  .link {
    cursor: pointer;
    color: #1e578e;
    text-decoration: underline;
  }
}
.tips-card {
  padding: 18px 12px 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 400px;
  border-radius: 10px;
  background-color: #efefef;
  .card-title {
    margin-bottom: 15px;
    padding-left: 12px;
    font-size: 18px;
    color: #b0430e;
    &.stretch {
      display: flex;
      align-items: center;
      .fee {
        margin-left: 35px;
        color: #333;
        font-size: 14px;
      }
    }
  }
  .card-desc {
    color: #999;
    font-size: 12px;
    .hl {
      color: #114272;
    }
  }
}
.details-cards {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  .card-wrap {
    margin: 0 20px 25px 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .card {
    padding: 15px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 160px;
    height: 100px;
    color: #fff;
    background-color: #ddd;
    border-radius: 10px;
  }
  .card-text {
    color: #999;
    text-align: center;
  }
  .controls {
    display: flex;
    justify-content: flex-end;
    .edit {
      position: relative;
      padding-left: 16px;
      font-size: 12px;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        width: 16px;
        height: 15px;
        background: url("./image/edit.png");
      }
    }
    .delete {
      position: relative;
      margin-left: 10px;
      padding-left: 16px;
      font-size: 12px;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        width: 13px;
        height: 15px;
        background: url("./image/trash-alt.png");
      }
    }
  }
  .card-no {
    line-height: 1;
    font-size: 12px;
    color: #444;
  }
  .account-name {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #444;
  }
}
.modal-link {
  cursor: pointer;
  color: #1e578e;
}
.modal-tip-center {
  text-align: center;
}