.override-select {
  display: flex;
  width: 100%;
  :global(.ant-select) {
    flex: 1;
  }
  :global(.ant-select-selection) {
    border-color: #aaa;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  :global(.ant-select-selection:hover) {
    border-color: #aaa;
  }
  :global(.ant-select-open .ant-select-selection) {
    border-color: #aaa;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  :global(.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active) {
    border-color: #aaa;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  :global(.ant-select-selection--single) {
    height: 40px;
  }
  :global(.ant-select-selection__rendered) {
    line-height: 38px;
  }
}